Package: com.squidkingdom.tiktokinspect
Name: tiktokInspect
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Brady Holland
Author: Brady Holland
Section: Tweaks
